<!DOCTYPE html>
<html ng-app="ibs.app" ng-csp>
  <head>
    <!-- build:css app.css -->
    <link rel="stylesheet" href="../vendors/angular/angular-csp.css">
    <link rel="stylesheet" href="app.css">
    <!-- endbuild -->
  </head>

  <body ng-controller="MainCtrl as vm" ng-cloak>
    <div class="left-sidebar">
      <!-- Action List -->
      <div class="sidebar-section-header">Actions ({{vm.status}})</div>
      <div class="sidebar-section-body">
        <ul class="action-list">
          <li>
            <button ng-click="vm.update()">Update CSS</button>
          </li>
          <li>
            <button ng-click="vm.saveCss()">Save bootstrap.css</button>
          </li>
          <li>
            <button ng-click="vm.saveVariables()">Save variables.less</button>
          </li>
        </ul>
      </div>

      <!-- Anchors -->
      <div class="sidebar-section-header">Categories</div>
      <div class="sidebar-section-body anchor-section">
        <ul class="anchor-list">
          <li ng-repeat="tab in ::vm.tabs" ng-click="vm.jumpToSection(tab.title)">{{::tab.title}}</li>
        </ul>
      </div>
    </div>

    <div class="content-area">
      <div ng-repeat="tab in vm.tabs">
        <h4 id="{{tab.title}}">{{tab.title}}</h4>
        <table>
          <tbody>
            <tr ng-repeat="var in tab.vars">
              <td>{{var}}</td>
              <td>
                <input type="text" class="var-input" ng-model="vm.modifyVars[var]">
                <button type="button" ng-click="vm.revert(var)" ng-disabled="vm.modifyVars[var] == vm.defaultVars[var]">Reset</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- build:js vendors.js -->
    <script src="../vendors/lodash/dist/lodash.min.js"></script>
    <script src="../vendors/less/dist/less.js"></script>
    <script src="../vendors/angular/angular.js"></script>
    <!-- endbuild -->

    <!-- build:js app.js -->
    <script src="app.js"></script>
    <script src="utils/utils.module.js"></script>
    <script src="utils/background-port.service.js"></script>
    <script src="utils/less.service.js"></script>
    <script src="tabs-config.constant.js"></script>
    <script src="default-config.constant.js"></script>
    <!-- endbuild -->
  </body>
</html>